<fieldset>
    <legend>Review</legend>
    <!-- REVIEWTITLE -->
    <div class="form-group">
        <label for="reviewTitle">Title</label><br>
        <input class="form-contol" id="reviewTitle" type="text" name="reviewTitle" value="{{review.reviewTitle}}" />
    </div>

    <!-- MOVIE TITLE -->
    <div class="form-group">
        <label for="movie-title">Movie Title</label><br>
        <input class="form-contol" id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </div>

    <!-- RATING -->
    <div class="form-group">
        <label for="rating">Rating</label><br>
        <select class="form-contol" id="rating" type="text" name="rating">
            <option value=1>1 Star</option>
            <option value=2>2 Stars</option>
            <option value=3>3 Stars</option>
            <option value=4>4 Stars</option>
            <option value=5>5 Stars</option>
        </select>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="description-text">Description</label><br>
        <textarea class="form-contol" id="description-text" name="description" rows="10" value="{{review.description}}" /></textarea>
    </div>
</fieldset>
