<fieldset>
    <legend>Review</legend>
    <!-- REVIEWTITLE -->
    <p>
        <label for="reviewTitle">Title</label><br>
        <input id="reviewTitle" type="text" name="reviewTitle" value="{{review.reviewTitle}}" />
    </p>

    <!-- MOVIE TITLE -->
    <p>
        <label for="movie-title">Movie Title</label><br>
        <input id="movie-title" type="text" name="movieTitle" value="{{review.movieTitle}}" />
    </p>

    <!-- RATING -->
    <p>
        <label for="rating">Rating</label><br>
        <select id="rating" type="text" name="rating">
            <option value="1 Star">1 Star</option>
            <option value="2 Stars">2 Stars</option>
            <option value="3 Stars">3 Stars</option>
            <option value="4 Stars">4 Stars</option>
            <option value="5 Stars">5 Stars</option>
        </select>

    <!-- DESCRIPTION -->
    <p>
        <label for="description-text">Description</label><br>
        <textarea id="description-text" name="description" rows="10" value="{{review.description}}" /></textarea>
    </p>
</fieldset>
