<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/reviews/{{review._id}}?_method=PUT">
            {{> reviews-form}}
            <!-- BUTTON -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Review</button>
                <input class="btn btn-primary" type="button" value="Cancel" onclick="window.location.href='/'" />
            </p>
        </form>
    </div>
</div>
